<form id="fs-frm" name="simple-contact-form" accept-charset="utf-8" action="https://formspree.io/f/{form_id}" method="post">
  <div class="row">
    <div class="col-12">
      <fieldset id="fs-frm-inputs" class="form-group mb-4">
        <label for="full-name">Name</label>
        <input type="text" name="name" id="full-name" class="form-control" required="">
        <label for="email-address">Email</label>
        <input type="email" name="_replyto" id="email-address" class="form-control" prequired="">
        <label for="message">Message</label>
        <textarea rows="5" name="message" id="message" class="form-control" required=""></textarea>
        <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
      </fieldset>
    </div>
    <div class="col-lg-6 mx-auto">
      <input type="submit" class="btn aquamarine--btn w-100" value="Submit">
    </div>
  </div>
</form>