
<div class="py-5 border-top">
  <div class="container">

    <p class="h5 mb-3"><a class="navbar-brand" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a></p>

    <div class="row">

      <div class="col-sm">
        {%- if site.email -%}
            <a href="mailto:{{ site.email }}">
              {{ site.email }}
            </a>
        {%- endif -%}
      </div>


      <div class="col-sm text-right">
        <p>{{- site.description | escape -}}</p>
      </div>

    </div>

  </div>
</div>
